body {
  margin: 20px;
  font-family: Georgia, serif;
  font-size: 12pt;
}

h1 { font-size: 46px; }

.four.columns h1 {
  margin-bottom: 10px;
}

#posts {
  padding-top: 15px;
}

#posts span {
  color: #999;
}

a {
  color: #06A;
  text-decoration: none;
}

a:hover {
  color: #06A;
  text-decoration: underline;
  cursor: pointer;
}

a:visited { color: #607890; }

.sidebar {
  width: 220px; 
  position: fixed;
}

.hidden { display: none; }

#mobile { 
  margin-top: 24px;
}

.highlight {
  /* background: #F7F7F7; */
  /* border: 2px solid #EEE; */
  /* color: #000; */
  /* display: block; */
  /* line-height: 150%; */
  /* margin: 24px 0 24px 0; */
  /* padding: 10px; */
  margin-bottom: 20px;
}

code {
  font-size: 90%;
  font-family: Monaco, Consolas, monospace;
}

article li {
  margin-left: 30px;
	list-style: disc outside;
}

article li li {
	list-style: circle outside;
}

article li li li {
	list-style: square outside;
}

#tweet {
  text-align: right;
  margin-bottom:20px;
}
