 /* Primary Styles
    Author: Simon H. Eskildsen (sirupsen.com)
 */

body {
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 24px;
  
  /* Use body as wrapper: camendesign.com/code/developpeurs_sans_frontieres */
  /*width: 800px;*/
  margin: 40px auto;
}

h1 { 
  font-size: 190%; 
  line-height: 1.60em;
}

h2 { 
  font-size: 150%;
  line-height: 1.50em;
}

h3 {
  font-size: 130%;
  line-height: 1.40em;
}

p {
  margin: 12px 0 12px 0;
}

a {
  color: #06A;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

blockquote {
  margin: 24px 0 24px 24px;
  color: #999;
  font-style: italic;
  border-left: 2px solid #EEE;
  padding-left: 1em; 
}

code {
  font-size: 90%;
  font-family: Monaco, Consolas, monospace;
}

pre {
  background-color: #F8F8F8;
  border: 2px solid #EEE;
  border-left: 0;
  width: 100%;
  color: #000;
  display: block;
  line-height: 150%;
  overflow: auto;
  position: relative;
  left: -20px;
  padding: 20px;
  margin: 24px 0 24px 0;
}

hr {
  border: 0;
  height: 3px;
  background-color: #ddd;
}

/*
 * Forms
 *
*/

label {
  display: block;
  margin-top: 10px;
}

input, textarea {
  border: 1px solid #ddd;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  background: -webkit-gradient(linear, 0% 0%, 0% 25, from(white), color-stop(0.04, #f7f7f7), to(white));
  border-radius: 3px;
  padding: 5px;
}

textarea {
  width: 300px;
  height: 100px;
  line-height: 1.6;
  padding: 8px;
}

input:focus, textarea:focus {
  border-color: #06A;
}

input:hover, textarea:hover {
  border-color: #06A;
}

input[type=text] {
  padding: 5px;
}

input[type=submit] {
  display: block;
  cursor: pointer;
}

/*
 * tables
 */

table thead th {
  border: 1px solid #ddd;
  padding: 5px 24px 5px 24px;
}

table tr {
  border: 1px solid #ddd;
}

table tr td {
  border: 1px solid #ddd;
  padding: 5px 24px 5px 24px;
}

article {
  margin-bottom: 0;
}

#container {
  width: 650px;
  border-left: 2px solid #EEE;
  float: left;
}

/*
 *
 * Contact sidebar
 *
 */

aside {
  float: left;
  width: 200px;
  margin-left: 50px;
}

aside li {
  list-style-type: none;
}

aside ul {
  margin-bottom: 10px;
  margin-left: 0;
}


/*
 *
 * Posts
 *
 */

/* List view */

ul.posts li {
  list-style-type: none;
}

ul.posts {
  margin: 0;
}

.clicky {
  padding-left: 15px;
}

.clicky:hover {
  background: #F8F8F8;

  cursor: pointer;
}

.date {
  color: #999;
  float: right;
}

footer {
  border: 2px solid #EEE;
  border-left: 0;

  background-color: #F8F8F8;
  padding: 20px;
  margin-bottom: 50px;
}

header {
  border: 2px solid #EEE;
  border-left: 0;

  background-color: #F8F8F8;
  padding: 20px;
  overflow: hidden;
}

article {
  padding: 20px;
  padding-top: 0;
}

nav {
  margin-top: 10px;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  text-align: right;
  width: 50%;
}

.gray {
  color: #999;
}
