/*
 * Container
 *
 */

#container {
  float: left;
  border-left: 2px solid #EEE;
  width: 600px;
}

/*
 *
 * Contact sidebar
 *
 */

#contact {
  float: left;
  width: 200px;
  margin-left: 50px;
}

#contact li {
  list-style-type: none;
}

#contact ul {
  margin-bottom: 10px;
  margin-left: 0;
}


/*
 *
 * Posts
 *
 */

/* List view */

ul.posts li {
  list-style-type: none;
}

ul.posts {
  margin: 0;
}

.clicky {
  padding-left: 15px;
}

.clicky:hover {
  background: #EEE;
  cursor: pointer;
}

.date {
  color: #999;
  float: right;
}

.sticker {
  border: 1px solid #EEE;
  background-color: #F8F8F8;
  padding: 1em;
  margin: 15px 0 15px 0;
  margin-bottom: 50px;
}

article {
  margin: 0 0 50px 15px;
}

.gray {
  color: #999;
}