{% assign description = "I'm a developer, rubyist, and minimalist: I build amazing <i>(simple)</i> things using Ruby." %}
<!DOCTYPE html>

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head> 
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
    Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ page.title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="author" content="Simon Hørup Eskildsen">

    <link href="http://feeds.feedburner.com/Sirupsen" rel="alternate" title="Sirupsen" type="application/atom+xml" />

    <!-- CSS : implied media="all" -->
    <link rel="stylesheet" href="/static/css/main.css?v=1">

    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects
    <script src="/static/js/modernizr-1.5.min.js"></script>
    -->
  </head> 

  <body> 
    <aside>
      <h2><a href="/">Sirupsen</a></h2>

      <ul id="essentials">
        <li><span class="gray">Simon Hørup Eskildsen</span></li>
        <li><a href="mailto:sirup@sirupsen.com" title="If you are seeing this, you should definitely email me">sirup@sirupsen.com</a></li>
      </ul>

      <section>
        {{ description }}
      </section>

      <nav>
        <ul>
          <li><a href="http://twitter.com/Sirupsen" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Twitter']);" title="You should follow me">Twitter</a></li>
          <li><a href="http://github.com/Sirupsen" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Github']);" title="I share and fork code here">Github</a></li>
          <li><a href="http://pinboard.in/u:sirupsen" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Pinboard']);" title="I share my links here">Pinboard</a></li>
          <li><a href="talk:chat?jid=sirup@sirupsen.com" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar GoogleTalk']);" title="Feel free to add me">Google Talk</a></li>
          <li><a href="http://feeds.feedburner.com/Sirupsen" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Rss']);" title="You should subscribe">RSS</a></li>
        </ul>
      </nav>
    </aside>

    <div id="container">
      {{ content }}
    </div>

    <!-- Grab Google CDN's jQuery. fall back to local if necessary
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/static/js/jquery-1.4.2.min.js"%3E%3C/script%3E'))</script>
    -->

    <!--[if lt IE 7 ]>
    <script src="/static/js/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
    <![endif]-->

    <!-- Trackin yer visits -->
    <script> var _gaq=[["_setAccount","UA-9939782-5"],["_trackPageview"]]; (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1; g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js"; s.parentNode.insertBefore(g,s)}(document,"script")); </script>
  </body>
</html> 
