<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang="en" lang="en-us"> 
  <head> 
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' /> 
    <title>{{ page.title }}</title> 

   	<link href="http://feeds.feedburner.com/Sirupsen" rel="alternate" title="Sirupsen" type="application/atom+xml" />

    <!-- Main CSS -->
    <link href='/static/css/style.css' rel='stylesheet' />
    <link href='/static/css/syntax.css' rel='stylesheet' /> 
  </head> 
  <body> 
    <div id='container'> 
      {{ content }}

      <div id="footer">
        <div class="contact">
          Sirupsen<br/>
          Simon Hørup Eskildsen
          <a href="mailto:sirup@sirupsen.com">sirup@sirupsen.com</a>
        </div>

        <div class="contact">
          <a href="http://twitter.com/Sirupsen">Twitter</a><br/>
          <a href="http://github.com/Sirupsen">Github</a>
        </div>
      </div>
    </div>

    <script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-9939782-5']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script>
  </body> 
</html> 
