<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang="en" lang="en-us"> 
  <head> 
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' /> 
    <title>{{ page.title }}</title> 

   	<link href="http://feeds.feedburner.com/Sirupsen" rel="alternate" title="Sirupsen" type="application/atom+xml" />

    <!-- Main CSS -->
    <link href='/static/css/style.css' rel='stylesheet' />
    <link href='/static/css/syntax.css' rel='stylesheet' /> 
  </head> 
  <body> 
    <div id="wrapper">
      <div id="contact">
        <ul id="essentials">
          <li id="name"><a href="/">Sirupsen</a></li>
          <li><span class="gray">Simon Hørup Eskildsen</span></li>
          <li><a href="mailto:sirup@sirupsen.com">sirup@sirupsen.com</a></li>
        </ul>

        <p>I'm a developer, and minimalist. I build stuff.<br/> I like Ruby.</p>

        <ul id="links">
          <li><a href="http://feeds.feedburner.com/Sirupsen">RSS</a></li>
          <li><a href="http://twitter.com/Sirupsen">Twitter</a></li>
          <li><a href="http://github.com/Sirupsen">Github</a></li>
        </ul>
      </div>

      <div id='container'> 
        {{ content }}
      </div>
    </div>

    <script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-9939782-5']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script>
  </body> 
</html> 
