---
layout: default
blog: true
---

<article>
  <h1>{{ page.title }}</h1>

  <div class="gray">
    <div class="left">
      {% if page.date %}
        {{ (page.date | date_to_string) }}
      {% endif %}

      {% if page.updated %}
        updated
        {{ page.updated }}
      {% endif %}
    </div>

    <div class="right">
      <a href="http://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-count="horizontal" data-via="Sirupsen">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
  </div>

  <div class="clearfix"></div>

  {{ content }}

  <p>
    If you've read this far, you should follow me on Twitter <a href="http://twitter.com/Sirupsen" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Post Twitter']);">>here.</a>
  </p>

  <div class="sticker">
    Questions and comments <a href="http://twitter.com/Sirupsen" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Post Twitter Feedback']);">@Sirupsen</a>
  </div>
</article>
