---
layout: default
blog: true
---

<div id="post">
  <h1>{{ page.title }}</h1>
  <div class="gray">
    <div class="left">
      {{ page.date | date_to_string }}

      {% if page.updated %}
      updated
      {{ page.updated }}
      {% endif %}
    </div>

    <div class="right">
      <a href="http://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-count="none" data-via="Sirupsen">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    </div>
  </div>

  <div class="clear"></div>

  <!--
  <div id="tweetmeme">
    <script type="text/javascript" src="http://tweetmeme.com/i/scripts/button.js"></script>
  </div>
  -->

  {{ content }}

  <div class="sticker">
    Questions and comments on Twitter <a href="http://twitter.com/Sirupsen">@Sirupsen</a>
  </div>
</div>

